{{#products}}
	<li class="content-item">
   			<div class="content-item-container">
   				<img class="content-item-img" src="{{productImg}}" />
   			</div>
   			<h3 class="content-item-name">{{productName}}</h3>
   			<span class="content-item-currentprice">&yen;{{currentPrice}}</span>
   			<span class="content-item-originprice">&yen;{{originPrice}}</span>
   		</li>
{{/products}}